@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap');
body {
    font-family: 'Gothic A1', sans-serif;
}
header {
    justify-content: center;
    width : 760px; 
    margin: 0 auto;
    text-align: center;
    font-size: 24px; 
    font-weight: 1000;
}
img {
    display:block;
    margin: 0 auto;
    width: 112px; 
    height: 80px;
}
img.title{
    width: 40px;
    height: 40px;
}
div.headfootDiv {
    width : 760px; 
    margin: 0 auto;
    text-align: center;
}
div.layout {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    width: 80%; 
}
aside {
    visibility: hidden;
    opacity : 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    background-color: #009223;
    width : 350px;
    height : 600px;
    border : 4px solid #FFC300;
    border-radius: 16px;
    margin-top: 10px;
}
aside.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity 0.5s linear
}
#sauceAside {
    color : white;
    font-size : 12px;
    font-weight: bold;
    overflow: auto;
}

#sauceAside table td{
    padding : 5px;
}
fieldset {
    position : relative;
    border : 4px solid #009223;
    border-radius: 24px; 
    color : #FFC300;
    font-weight: bold;
    width : 760px;
    height : 600px; 
    margin : 0px 20px;
    overflow: auto;
}
table.main_table {
    width: 640px; 
    font-size: 16px; 
    font-weight: 1000;
    margin-left: 60px; 
}
table.main_table td {
    width: 80px; 
    height: 40px;
    text-align: center;
}
#sub {
    margin-left: 80px;
}
table.menu_img {
    width: auto; 
    margin-left : 40px; 
}
figure {
    cursor:pointer;
    background-color: #FFC300;
    border : 3px solid #009223;
    border-radius: 16px; 
    margin : 4px; 
}
figure:hover {
    background-color: #DDA204;
}
figcaption {
    color: white;
    font-size: 11.5px; 
    font-weight: bold;
    text-align : center;
}
select {
    border : 3px solid #009223;
    border-radius: 24px; 
    color: #FFC300;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    font-size: 12px; 
    text-align: center;
    width: 120px; 
    height: 32px; 
    cursor: pointer;
}
select:focus, select:hover {
    background-color: #E2F0D1;
}
legend {
    text-align: center;
    color: black;
}
summary {
    color : #009223;
    font-size: smaller;
    cursor: pointer;
}
label {
    font-size: smaller;
}
button {
    border : 2px solid #009223;
    border-radius: 24px;
    background-color: #FFC300;
    color : white;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    padding: 4px 8px; 
}
button:hover {
    background-color: #DDA204;
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor:pointer;
}
input[type="checkbox"]:checked {
    accent-color: #009223; 
}
#menuAside {
    position: relative;

    font-weight: bold;
    color :#FFC300
}
#menuAside button {
    position: absolute;
    top: 0; 
    right: 0;
}

#asideImage {
    width: 144px;
    height: 100px;
    background-color: white;
    border : 4px solid #FFC300;
    border-radius: 16px;
}